<link rel="stylesheet" type="text/css" href="server/templates/css/navbar.css">
<script src="server/templates/scripts/navbar.js"></script>

<div class="navbarr">
    <div class="menu-icon" id="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    
    <ul class="menu-list" id="menu-list">
        <!-- USER INFO GOES HERE -->
        <div id="user-info" style="display: none;">
            <img src="server/templates/img/kosong.jpeg" alt="Profile Image" id="profile-image">
            <div class="user-text">
                <p id="greeting"></p>
                <p id="user-name"></p>
                <p id="user-no-rs"></p>
            </div>
        </div>

        <li><a href="/">HOME</a></li>
        <li><a href="about">ABOUT US</a></li>
        <li><a href="jadwal">FIND DOCTOR</a></li>
        <li><a href="#">APPOINTMENT</a>
            <ul class="submenu">
                <li><a href="reservasi">BOOK APPOINTMENT</a></li>
                <li><a href="cekreservasi">CHECK APPOINTMENT</a></li>
            </ul>
        </li>
        <!-- <li id="login-menu"><a href="/login">LOGIN</a></li>
        <li id="logout-menu" style="display: none;"><a href="/logout">LOGOUT</a></li> -->
    </ul>
</div>
