<!DOCTYPE html>
<html>
    
<head>
    <title>Klinik RIDSU</title>
	<script src="templates/scripts/script.js"></script>
	<link rel="stylesheet" type="text/css" href="templates/css/about.css">
</head>

<body>
    <div class="navbarr">
        <div class="menu-icon" id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu-list" id="menu-list">
            <li><a href="/">HOME</a></li>
            <li><a href="about">ABOUT US</a></li>
            <li><a href="jadwal">FIND DOCTOR</a></li>
            <li><a href="reservasi">BOOK APPOINTMENT</a></li>
        </ul>
    </div>
    <header>
        <h1>Rumah Sakit RIDSU</h1>
        <p>Menyediakan Layanan Kesehatan Berkualitas</p>
    </header>
	<div class="gambar">
		<img src="templates/img/klinik.jpg" alt="Klinik Ridsu" width="800">
	</div>
    <section id="informasi-rumah-sakit">
        <h2>Informasi Rumah Sakit</h2>
        <p>
            Rumah Sakit RIDSU adalah rumah sakit terkemuka yang menyediakan layanan kesehatan berkualitas kepada masyarakat. 
            Kami berkomitmen untuk memberikan perawatan medis terbaik kepada pasien kami.
        </p>
        <p>
            Alamat: Jl. Kelapa 2 no.134 , Depok, Jawa Barat.
        </p>
        <p>
            Telepon: (021) 14045
        </p>
    </section>

    <section id="layanan-kesehatan">
        <h2>Layanan Kesehatan</h2>
        <ul>
            <li>Pelayanan Gawat Darurat 24/7</li>
            <li>Unit Rawat Inap</li>
            <li>Poli Konsultasi Dokter Umum dan Spesialis</li>
            <li>Laboratorium Medis</li>
        </ul>
    </section>

    <section id="jadwal-kunjungan">
        <h2>Jadwal Kunjungan</h2>
        <p>
            Jadwal kunjungan pasien:
        </p>
        <table border="1">
            <tr>
                <th>Hari</th>
                <th>Jam Buka</th>
                <th>Jam Tutup</th>
            </tr>
            <tr>
                <td>Senin - Jumat</td>
                <td>08:00</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>Sabtu</td>
                <td>09:00</td>
                <td>13:00</td>
            </tr>
            <tr>
                <td>Minggu</td>
                <td>Libur</td>
                <td>Libur</td>
            </tr>
        </table>
    </section>

    <footer>
        <p>&copy; 2023 Klinik Ridsu. Hak Cipta Dilindungi.</p>
    </footer>
</body>
</html>